* {
  box-sizing: order-box;
  margin: 0; 
  padding: 0;
}

:root {
  --primary-color: #4891ff;
  --light-color: #adadad;
  --dark-color: #111;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration:none;
  color: #333
}

ul {
  list-style: none;
}

section#about, section#portfolio {
  background-color: var(--bs-gray-200);
}

.hero {
  /* 5rem because the navbar is 60px */
  padding: 5rem 1rem 0 1rem;
}

.hero .container {
  /* background: url(..images/) no-repeat; */
  background-size: contain;
  background-position: center bottom;
  /* Needs to be variable based on screen size */
  min-height: 90vh; 
}

/* Needs to be variable based on screen size */
@media (max-width: 574px) {
  .hero .container {
    min-height: 92vh;
  }
}

.hero .hero-content {
  width: 90%;  
}

.hero .hero-text {
  width: 90%;  
  margin-bottom: 1rem; 
}
   
/* Utility Classes */
.container { 
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
 
.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn {
  color: var(--bs-body-color);
  background: var(--bs-light);
  font: 16px/30px opensans-bold,sans-serif;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0;
  padding: 12px 20px;
  margin-bottom: 18px;
  border: none;
  cursor: pointer;
  height: auto;
  transition: all .5s ease-in-out;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.8;
  color: var(--bs-light);
  background-color: var(--bs-body-color);;
}

.btn--primary {
  background: var(--primary-color);
  color: #fff;
}

.btn--dark {
  background: var(--dark-color);
  color: #fff;  
}

/* Text Classes */

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 1.5rem;
}


.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 0.75rem;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 0.25rem;
}

.text-center {
  text-align: center;
}

.offcanvas-end {
  width: 65vw;
}

@media (min-width: 575px) {
  .name-tag-small-min {
    display: none;
  }
}

@media (max-width: 574px) {
  .name-tag-small-max {
    display: none;
  }
}

@media (min-width: 778px) {
  .name-tag-small-max {
    display: flex;
  }
}

@media (max-width: 310px) {
  .name-tag-small-min {
    display: none;
  }
}

.icon-size {
  font-size: 1.5rem;
  /* padding-right: calc(30px); */
}

.card-group-a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.card-group-a > .card {
  margin: 0.5rem 0;
}

@media (max-width: 574px) {
  .card-group-a {
    flex-direction: column;
  }
}

@media (min-width: 575px) {
  .card-group-a {
    flex-direction: row;
  }

  .card-group-a > .card {
    flex: 0 0 48%;
  }
}

@media (min-width: 992px) {
  .card-group-a > .card {
    flex: 0 0 22%;
  }
}

.about-container {
  display: flex;
}

.image-container {
  flex: 0 0 auto;
  width: 125px;
  margin-right: 1rem;
  margin-bottom: 1rem;
} 

.image-container > img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

@media (max-width: 574px) {
  .about-container {
    flex-direction: column;
  }
}

.tech-container {
  padding-bottom: 2rem;
}

.tech-container > .hero-text {
  margin: 0;
}

.tech-container > .frontend, .tech-container > .backend {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.svg-container {
  height: 5.5rem;
  width: 5.5rem;
}

.svg-container > svg {
  padding: 0.25rem;
}

.svg-container > p {
  text-align: center;
  margin: 0;
}

@media (max-width: 574px) {
  .tech-container > .frontend, .tech-container > .backend {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .svg-container {
    margin: 1rem;
  }
}

